@views.html.layouts.frameLayout("B2C商城") {
<div id="sendnote">
    <div id="sendnotehead">
        <strong>共有2条评论</strong>
    </div>
    <div id="sendnotecontent">
        <table id="creditquery">
            <tr>
                <td class="commentr1color">会员：</td>
                <td class="commentr1color">zhangtong123@@163.com</td>
                <td class="commentr1color">发表时间：</td>
                <td class="commentr1color">2007-10-05 22:12:30</td>
                <td class="commentr1color">打分：</td>
                <td class="commentr1color"><img src="@routes.Assets.at("images/web/4star.JPG")" alt="喜欢"></td>
            </tr>
            <tr>
                <td class="commentr2color">评论：</td>
                <td colspan="5" class="commentr2color"><span class="red">很不错的一本书，通俗易懂，是大学物理教材中的经典之作。</span>
                </td>
            </tr>
            <tr>
                <td class="commentr1color">会员：</td>
                <td class="commentr1color">wangqd456@@126.com</td>
                <td class="commentr1color">发表时间：</td>
                <td class="commentr1color">2007-10-20 17:23:16</td>
                <td class="commentr1color">打分：</td>
                <td class="commentr1color"><img src="@routes.Assets.at("images/web/4star.JPG")" alt="喜欢"></td>
            </tr>
            <tr>
                <td class="commentr2color">评论：</td>
                <td colspan="5" class="commentr2color"><span class="red">看过了，确实不错。</span></td>
            </tr>
        </table>
    </div>
</div>
}
