@(wares: List[cn.edu.sdu.b2cshop.system.wares.models.Ware])
@views.html.layouts.mainLayout("教材") {
<div id="sendnote">
    <div id="sendnotehead">
        <strong>商品列表</strong>
        <strong><a href="@cn.edu.sdu.b2cshop.system.wares.controllers.routes.WareController.add" style="float: right;margin-right: 10px;">添加商品</a></strong>
    </div>
    <div id="sendnotecontent">
        <table id="favorite">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>商品图片</th>
                    <th>商品信息</th>
                </tr>
            </thead>
            <tbody>
                @for(ware <- wares) {
                    <tr>
                        <td><span>@ware.getCode</span></td>
                        <td><img src="@routes.Assets.at("images/web/4star.JPG")" class="picture1" /></td>
                        <td><span class="red">@ware.getName</span><br>
                            市场价：￥@ware.getPrice<br> 会员价：￥@ware.getDiscount<br> 库存量：￥@ware.getStack<br></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}
