@(ware: cn.edu.sdu.b2cshop.system.wares.models.Ware)
@views.html.layouts.frameLayout("B2C商城") {
<div id="sendnote">
    <div id="sendnotehead">
        <strong>商品信息</strong>
    </div>
    <div id="sendnotecontent">
        <table id="creditquery">
            <caption>@ware.getName</caption>
            <tbody>
                <tr>
                    <td><img src="@routes.Assets.at("images/web/dxwl4.jpg")" alt="大学物理第四册" class="picture1"></td>
                    <td colspan="4" class="tdleftalign">@ware.getDescription</td>
                </tr>
                <tr>
                    <td>市场价：￥@ware.getPrice</td>
                    <td>会员价：￥@ware.getRealPrice</td>
                    <td>节省：￥@ware.jiesheng</td>
                    <td>库存量：@ware.getStack</td>
                    <td>用户评分：<img src="@routes.Assets.at("images/web/4star.JPG")" alt="喜欢" class="picture"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a
                        href="@cn.edu.sdu.b2cshop.system.wares.controllers.routes.WareCommentController.view(1)">【查看用户评论】</a><br>
                        <a
                        href="@cn.edu.sdu.b2cshop.system.wares.controllers.routes.WareCommentController.add(1)">【参与评论】</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a
                        href="@cn.edu.sdu.b2cshop.system.carts.controllers.routes.CartController.addToCart(ware.getId)"><img
                            src="@routes.Assets.at("images/web/goumai.gif")" alt="购买"
                            class="picture"></a>&nbsp; <a
                        href="@cn.edu.sdu.b2cshop.system.users.controllers.routes.FavoriteController.view(1)"><img
                            src="@routes.Assets.at("images/web/put_to_collection.gif")" alt="收藏" class="picture"></a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
}
