@views.html.layouts.mainLayout("送货说明") {
<div id="sendnote">
    <div id="sendnotehead">
        <strong>送货费用说明</strong>
    </div>
    <div id="sendnotecontent">
        <ul>
            <li>1.系统将会根据您的送货地址来收取送货费：本地5元，外地10元；</li>
            <li>2.会员可以使用积分代替现金，系统会将您在结帐时输入的积分数来换算成现金；</li>
            <li>3.对于本地会员，当购买金额大于300元时，将免收送货费；对于外地会员，当购买金额大于800时，将免收送货费；</li>
            <li>4.对于优惠商品，会员可以获得适当优惠；</li>
            <li>5.最终订单金额将由 商品价格 + 送货费 - 积分代现金 - 优惠 计算得出。</li>
        </ul>
    </div>
</div>
}
