@(wares:List[cn.edu.sdu.b2cshop.system.wares.models.Ware])

@wareLogopath(ware:cn.edu.sdu.b2cshop.system.wares.models.Ware) = @{
    routes.Assets.at(ware.getLogopath)
}

@views.html.layouts.homeLayout("B2C商城") {

<div id="left">
    <div id="category">
        <h4>
            <span>图书音像</span>
        </h4>
        <ul>
            <li><a
                href="@cn.edu.sdu.b2cshop.system.wares.controllers.routes.WareCategoryController.view(1)">教材</a></li>
            <li><a href="#">外语</a></li>
            <li><a href="#">公务员考试</a></li>
            <li><a href="#">音乐</a></li>
            <li><a href="#">音乐</a></li>
            <li><a href="#">影视</a></li>
        </ul>
        <h4>
            <span>时尚生活</span>
        </h4>
        <ul>
            <li><a href="#">护肤</a></li>
            <li><a href="#">服装</a></li>
            <li><a href="#">手饰</a></li>
            <li><a href="#">箱包</a></li>
            <li><a href="#">小家电</a></li>
            <li><a href="#">运动健身</a></li>
        </ul>
        <h4>
            <span>数据产品</span>
        </h4>
        <ul>
            <li><a href="#">数码相机</a></li>
            <li><a href="#">数码录音笔</a></li>
            <li><a href="#">硬盘</a></li>
            <li><a href="#">MP3</a></li>
            <li><a href="#">耳机</a></li>
            <li><a href="#">数码配件</a></li>
        </ul>
        <h4>
            <span>鲜花速递</span>
        </h4>
        <ul>
            <li><a href="#">玫瑰</a></li>
            <li><a href="#">百合</a></li>
            <li><a href="#">康乃馨</a></li>
            <li><a href="#">太阳花</a></li>
            <li><a href="#">菊花</a></li>
        </ul>
    </div>
</div>
<div id="main">
    <div id="search1">
        <div id="searchleft">
            <img src="@routes.Assets.at("images/web/ico_site.jpg")"  id="ico_site" /> 网站路径：<a href="#">首页</a>
        </div>
    </div>
    <div id="recommend">
        <ul>
        @for(ware <- wares){
            <li><a href="@cn.edu.sdu.b2cshop.system.wares.controllers.routes.WareController.view(ware.getId)">
                <img src="@wareLogopath(ware)"><br>
                <span class="inputHeader">
                    @ware.getName<br>
                    <strong>￥@ware.getPrice</strong> 
                    @ware.getDiscount 折
                </span>
            </li>
        }
        </ul>
        <br>&nbsp;
    </div>
    <div id="new">
        <ul>
            <li><a href="#"><img src="@routes.Assets.at("images/web/xydydxt.jpg")"><br>
                <span class="inputHeader">下一代移动系统<br> <strong>￥8.50</strong></span></li>
            <li><a href="#"><img src="@routes.Assets.at("images/web/yxqygl.jpg")"><br>
                <span class="inputHeader">影响企业管理的<br>125个故事<br> <strong>￥33.00</strong></span></li>
            <li><a href="#"><img src="@routes.Assets.at("images/web/PPT.jpg")"><br>
                <span class="inputHeader">别告诉我你懂PPT<br> <strong>￥16.00
                    </strong></span></li>
            <li><a href="#"><img src="@routes.Assets.at("images/web/bubaoyuan.jpg")"><br>
                <span class="inputHeader">不抱怨的世界<br> <strong>￥54.99
                    </strong>
                </span></li>
            <li><a href="#"><img src="@routes.Assets.at("images/web/dsn.jpg")"><br>
                <span class="inputHeader">迪斯尼的精彩世界<br> <strong>￥130.00
                    </strong>
                </span></li>
        </ul>
        <br>&nbsp;
    </div>
    <div id="life">
        <ul>
            <li><a href="#"><img src="@routes.Assets.at("images/web/sssh.gif")"><br>
                <span class="inputHeader">18k白金30分钻戒<br> <strong>￥1990</strong></span></li>
            <li><a href="#"><img src="@routes.Assets.at("images/web/jsq.jpg")"><br>
                    <span class="inputHeader">加湿器<br> <strong>￥133.00</strong></span></li>
            <li><a href="#"><img src="@routes.Assets.at("images/web/yf.jpg")"><br>
                <span class="inputHeader">波斯登羽绒服<br> <strong>￥316.00
                    </strong></span></li>
            <li><a href="#"><img src="@routes.Assets.at("images/web/dzh.jpg")"><br>
                <span class="inputHeader">花形紫水晶吊坠<br> <strong>￥129.99
                    </strong>
                </span></li>
            <li><a href="#"><img src="@routes.Assets.at("images/web/dhj.jpg")"><br>
                <span class="inputHeader">ZIPPO打火机<br> <strong>￥115.00
                    </strong>
                </span></li>
        </ul>
        <br>&nbsp;
    </div>
</div>
}