@import helper._

@views.html.layouts.frameLayout("注册") {
        <div id="sendnote">
            <div id="sendnotehead"><strong>新用户注册</strong></div>
            <div id="sendnotecontent">
            @form(cn.edu.sdu.b2cshop.system.commons.controllers.routes.AuthController.register()) {
                <table id="itemsearch">
                 <tr>
                 <th class="itemsearchth">请输入昵称：</th>
                    <td class="itemsearchtd1">
                    <input type="text" name="username" class="inputtext"/>
                    </td>
                    <td class="itemsearchtd2">
                        <span class="red">*&nbsp;必输项   </span>
                    </td>
                 </tr>
                 <tr>
                 <th class="itemsearchth">登录密码：</th>
                    <td class="itemsearchtd1">
                    <input type="Password" name="password" class="inputtext"/>
                    </td>
                    <td class="itemsearchtd2">
                    <span class="red">*&nbsp;必输项    </span>
                    </td>
                 </tr>
                 <tr>
                 <th class="itemsearchth">密码确认：</th>
                    <td class="itemsearchtd1">
                    <input type="Password" name="confirmPassword" class="inputtext"/>
                    </td>
                    <td class="itemsearchtd2">
                    <span class="red">*&nbsp;必输项    </span>
                    </td>
                 </tr>
                 <tr>
                 <th></th>
                    <td><input type=submit class="bt2" name="button2" value="提交">
                        &nbsp;<input type="Reset" class="bt2" name="button1" value="重填" onClick="clear()">
                        &nbsp;<input type="Button" class="bt2" name="button3" value="返回" onClick="javascript:window.location.href='home.html'">
                    </td>
                 </tr>
        </table>
        }
            </div>
        </div>
}
