@**
 * Frame layout
 *@
 
 @(title: String)(content: Html)

@import cn.edu.sdu.b2cshop.application.utils.ContextHelper

@loggedUser = @{
    ContextHelper.getLoggedUser()
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>@title</title>
    <link href="@routes.Assets.at("stylesheets/web/frame.css")" rel="stylesheet" type="text/css">
    <script language="javascript" src="@routes.Assets.at("javascripts/web/checkform.js")"></script>
</head>
<body>
    <div id="container">
        <div id="logalleft">
            <div id="logalright">
            @if(loggedUser != null) {
                <a href="@cn.edu.sdu.b2cshop.system.users.controllers.routes.UserController.view(loggedUser.getId())" target="_parent">@loggedUser.getUsername() 已登录</a>|
                <a href="address_daohang.html" target="_parent">地址簿</a> |
                <a href="@cn.edu.sdu.b2cshop.system.commons.controllers.routes.AuthController.logout()" target="_parent">退出</a>
            } else {
                <a href="@cn.edu.sdu.b2cshop.system.commons.controllers.routes.AuthController.registerUI()" target="_parent">[&nbsp;注册&nbsp;]</a> |
                <a href="@cn.edu.sdu.b2cshop.system.commons.controllers.routes.AuthController.loginUI()" target="_parent">[会员登录]</a>
            }
            </div>
        </div>

        @views.html.layouts.bannerLayout()

        @content
        <div id="footer">
            <span id="footerleft"> &nbsp;隐私权 | 版权 | 法律声明 | 电子邮件：admin@@163.com </span>
            <span id="footerright"> B2C商城  Power by IBM &nbsp;</span>
        </div>
    </div>
</body>
</html>
